#homeLogo {
  font-size: 2em;
  color: black;
  font-family: 'Andada', serif;
  cursor: hand;
	margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
}

.locationBar {
	display: block;
	height: 6%;
}

#countryName {
	margin-left: 12px;
	margin-top: 0;
	font-size: 24pt;
	position: absolute;
	font-family: 'Shadows Into Light', cursive;
}

#googleMap {
	display: block;
	margin left:20px;
	width:100%;
	height:82%;
}

.topbody {
	display: block;
  position: relative;
  width: 100%;
  height: 12%;
  overflow: hidden;
 }

.topbody__background {
  position: absolute;
  height: 500px;
  width: 100%;
  top: -25%;
	filter: blur(6px);
}

.topbody__title {
  position: relative;
  text-align: center;
  font-size: 2.5em;
  color: white;
  font-family: 'Andada', serif;
  cursor: hand;
}